.flex{display:flex;
    justify-content: space-between ;
    border-style: colid;
    align-items: center;
    
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(165, 84, 165);
    height:60px
}
.home{color:white;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    padding-left: 17px;
    width:30px

}
.input{
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    width: 400px;
    border-radius: 25px;
    border: none;
    height:35px ;
    padding-left: 20px;

}
.download{color:white;
    background-color: rgb(165, 84, 165);
    border-color:white;
    border-style: solid;
    border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;}