.flex{display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    




}
.img{width:70px;
    height:70px;
    object-fit: cover;
    border-radius: 50px;}
p{margin:0;
    margin-left:17px;
    font-family: Arial, Helvetica, sans-serif;

}
.info{width: 200px;}
.p1{font-weight: bold;
font-size: 17px;}
.p2,.p3{color:gray;padding-top: 7px;}
.button{
    font-weight: bold;
    vertical-align: middle;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
    background-color: rgb(25, 148, 224);
}
