.container,.container2{display: flex;}
.img{width:100px;
    height: 100px;
    border-radius: 60px;
   margin-right: 20px;
}

.p{width:330px;}
p{font-family: Arial, Helvetica, sans-serif;}
.p1{font-size:25px;
    font-weight: bold;
    margin:0;
}
.p11,.p3{color: gray;margin: 0;margin-top: 17px;
font-size: 20px;
font-weight: normal;
}
.p2{font-size: 23px;width: 500px;
margin: 0;

margin-top: 20px;}

.container2{display: flex;
    background-color: rgb(236, 231, 231);
    align-items: center;
    justify-content: end;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 217, 217);
    border-radius: 20px;
    margin-top: 20px;
    width: 450px;
}
.p4{font-size: 20px;
    
margin-top: 7px;
}
.you{padding-left: 20px;
    background-color: white;
    
    width:300px ;}