body{height:3000px;}
div{position: fixed;
width:320px;
height: 180px;
background-color: gray;
bottom: 10px;
right:10px
}
.close-button {
    background-color: black;
    color: white;
    position: absolute;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    top:-17px;
    left:-17px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .time {
    background-color: black;
    color: white;
    position: absolute;
    font-family: Arial;
    font-size: 17px;
    width: 45px;
    height: 27px;
    bottom:5px;
    right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   
  }