body{height:3000px;}
.img1{display: inline-block;
position: relative;
    margin:20pxq}
.img{width: 400px;
    height: 400px;
    object-fit: cover;}


.sale{position: absolute;
top:10px;
right:0;
width:70px;
background-color:rgb(238, 203, 209);
color:black;
padding: 10px;
}
.w{position:absolute;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(238, 203, 209,0.7);
height:100px;
left: 0;
right: 0;}

.button{
background-color: white;
font-size: 17px;
border-width: 0.5px;
border-color: black;
border-style: solid;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;

}