.g{color:green}
button{border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    font-size: 11px;
    cursor: pointer;
    transition: 0.15s;
    padding-right:80px ;
border: none;}
button:active{opacity: 0.5;transition: 0.15s;}
.yellow:hover{background-color:rgb(245, 184, 16) ;}
.orange:hover{background-color: rgb(218, 85, 8);}
.yellow{background-color: rgb(255, 196, 0);}
.orange{background-color: rgb(255, 81, 0);margin-left: 20px;}