.b{color:white;background-color: rgb(9, 110, 9);
    border:none;padding-left: 30px;
padding-right: 30px;padding-top: 10px;
padding-bottom: 10px;
margin-left: 20px;
font-size: 18px;
margin-top: 10px;
cursor: pointer;
transition: 2s;
vertical-align: middle;}

.b:hover{padding-left: 60px;
    padding-right: 60px;padding-top: 20px;
    padding-bottom: 20px;}