p{font-family: Arial;}
.span{color:grey;font-weight: normal;}
.first{font-weight: bold;margin-bottom: 0px;
    
    font-size: 12px;vertical-align: top;}
    .second{font-size: 12px;
    width: 1200px;margin-top: 10px;}
    .third{font-size: 13px;
        width: 1200px;margin-top: 10px;}
        .span2{color:rgb(0, 162, 255)}