.jk{width:50px;
    height:50px;
    border-radius: 100px;
    object-fit: cover;
  
    vertical-align: middle;
}
.input{border: none;
    font-size: 12;
    vertical-align: middle;
}
.t{
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 30px;
    vertical-align: middle;
 
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    }