.div{display: block;
    width: 200px;
    height:320px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.b{color: white;font-size: 15px;font-weight: bold;
    background-color: rgb(0, 102, 255);
    border: none;border-radius: 5px;padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;}
.img{width: 200px;height:200px;margin-bottom: 10px;}
.p2{color:grey;font-family:  Arial;margin-top:0px ;margin-bottom: 12px;}
.p1{font-family: Arial;font-weight: bold;font-size: 25px;margin-top: 0px;margin-bottom: 10px;}