
.sub{color:white;padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#cc0000;
    border: none;
    border-radius: 5px;
    font-size: 14px; 
    transition: opacity 0.15s;
    padding-bottom: 10px;
    cursor: pointer;
}
.sub:hover{opacity: 0.7;}
.sub:active{opacity: 0.3;}

.join{background-color:white;padding-top: 9px;
    padding-left: 25px;
    padding-right: 25px;
    color:#065fd4;
    border-color: #065fd4;
    border-radius: 5px;

    transition: 0.15s;
    padding-bottom: 9px;
    cursor: pointer;}
.join:hover{opacity: 0.7;color:white; background-color:#065fd4}
.join:active{opacity: 0.3;}
.tweet{background-color:#1d9bf0;border: none;padding-top: 7px;padding-bottom: 7px;padding-left: 15px;padding-right: 15px;
    border-radius: 30px; transition:box-shadow 0.15s;
    color:white ;}
.tweet:hover{opacity: 0.7;box-shadow: 5px 5px 10px rgba(0, 0 ,0, 0.15)}
.tweet:active{opacity: 0.3;}