*{font-family: 'Josefin Sans', sans-serif
 !important}
.all_in{padding:50px 0;
margin:0}
p{opacity: 0.7;}
.header a {
  text-decoration: none;
  color: #885df1;
  font-size: 27px;
}
.section-header,span,.about,h2 {
  
  color: #885df1 !important;
}
.logo{max-width:5% !important}
svg{max-width:10% !important}
/*///////////////////////////
.albom {
  margin: 50px;
}
strong,
span {
  margin: 30px;
}

.purchase {
  margin: 50px;
}

.musicdisk {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
.musicdisk2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}



h1 {
  color: white;
  font-weight: bold;
  font-size: 77px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hover:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.button1 {
  color: #6922a0;

  border-color: #6922a0;
  background-color: white;
  cursor: pointer;
  height: 70px;
  width: 300px;
  margin: 30px;
}

.tickets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button,
.button1,
.button3 {
  color: #6922a0;
  border-color: #6922a0;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  padding: 7px;
  transition: 0.2s;
}
button:hover {
  background-color: #6922a0;
  color: white;
  box-shadow: 4px 4px 17px #6922a0;
}
