.input{flex:1;height:43px;
    font-size:12px;
    padding-left: 10px;
    box-shadow: inset 1px 2px 8px rgba(0,0,0,1);
}
.input::placeholder{font-family: Arial;
    }
.header{height:55px;display: flex;flex-direction: row;}

.middle{flex:1}
    .hum,.logo{height:20px;margin-left: 20px;margin-right: 20px;}
.search{height:40px;width:60px}
.voice{height:40px;width: 40px;}