.header{display:flex;}
body{margin: 0;}
       




p{margin-top: 0;
    margin-bottom: 0;}
    .thumb{margin-right: 15px;width:100%;
       }
        
       
       
    
       
       .p1{
            margin-top: 10px;
            vertical-align: middle;
            font-family: Arial;
            line-height: 20px;
            font-weight: bold;
            font-size: 15px;
        margin-bottom: 11px;}

        
        .p2,.p3{font-size:15px;
            color:rgb(96,96,96);
            margin-bottom: 4px;}
  
.video{margin-right: 10px;
                
                vertical-align: top;}
 
   
                
        .gh{ width: 70px;
                        vertical-align: top;}
                    
.vert{margin-left: 10px;
                            width:200px}
                    
    .pic{border-radius: 50px;
        width: 50px;
        margin-top: 10px;}

.grid{margin-bottom: 40px;
    display: grid;grid-template-columns: 50px 1fr;}
.video-grid{display: grid;grid-template-columns: 1fr 1fr 1fr  ;margin-top: 15.38px;}
                                          
        
             