.bts{width:60px;height:60px;border-radius: 50px;padding-top: 10px;padding-bottom: 10px;padding-left: 10px;
    object-fit: cover;vertical-align: middle;}
    .w{
        vertical-align: middle;border: none;padding-left: 10px;padding-right: 90px;
        font-size:20px;display: inline-block;}
        .t{
            background-color: rgb(2, 158, 255);
            color: white;
            border: none;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 30px;
            font-weight: bold;
            font-size: 17px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-right: 18px;
            
          }
          .tweet-button:hover{box-shadow: 5px 5px 10px rgba(0,0,0,0.15);}
.shadow{border-radius: 10px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.45);display: inline-block;}