head{width: 100%;}
body{background: #f2f2f2;
    margin: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.navbar{background: white;}

a{text-decoration: none;
    color: #444444;
}

nav,.secondary-nav,.primary-nav{
    display: flex;
justify-content:space-between;
align-items: center;
flex-direction: row;
}
.primary-nav{margin-right:  270px;}
.logo{margin-left: 100px;
color: black;
font-weight: bold;
font-size: 1.2em;
}
span{color: #006BD6;}
.homepage{
margin-left: 70px;
font-weight: bold;}
ul{list-style-type:none;
margin:0;
padding: 0;}
.container li{margin:0 40px}
.go-premium{
    cursor: pointer;
    font-weight: bold;
    color: #006BD6;
    border-radius: 30px;
    background-color: white;
    border-color: #006BD6;
    padding: 5px 7px;

}
.hero{display: flex;
    justify-content: space-around;
 
    margin:170px 300px 0px;
    
}
.container{display: flex;
    padding: 20px;
    justify-content:space-between;
    align-items: center;
    }
.right{width: 250px;}
.container2{display: flex;
width: 400px;
flex-direction: column;}
.subhead{color: gray;
font-weight: bold;
font-size: 20px;
margin: 0;}
h1{font-size: 37px;
    margin: 10px 0 20px;
}
.watch-video{padding: 30px;
    text-decoration: underline;}
.button{color:white;
background-color: #006BD6;
border: none;

border-radius: 30px;
padding: 7px 15px;
font-weight: bold;}
li{color:white;
    font-size: 15px;
  
}

.container3{display: flex;
position: relative;
margin-top: 130px;
height: 350px;
background-color: #20272E;}
.hold{width: 300px;
    height:300px;
    position: absolute;
    right:0;
    bottom:-100px;
   
}
ul.features{display:grid;
    padding: 20px;
    margin-left: 200px;
  
    
}
.testimonials{background-color: rgb(152, 152, 209);}
.pr li{margin: 0 20px;
font-size: 20px;}
.pr{display: flex;
    align-items: center;
    margin: 17px 10px;}
.container3 ul{margin-left: 200px;
margin-top: 30px;}

.container4 img{width: 70px;
margin-top: -30px;
border-radius: 100%;
}
.container4{display: flex;
    justify-content: center;
    align-items: center;
    background: #007AF3;
    height: 800px;
    
}
.container4 li{display:block;
    width: 800px;
    text-align: center;
  background-color: #006BD6;
    margin: 50px;
    border-radius: 20px;    
 
    }