body{height:3000px}
img{position: absolute;
width:660px;
height:615px;
right:0;
top:0;}
.p{display: inline-block;
    width: 700px;
    
}
.p1{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 62px;
font-weight: bold;
margin: 0;}
.p2{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
margin-top: 10px;
color: rgb(70, 67, 67);
}
.pp{width:400px;
}
.p,.pp{padding-left: 70px;}
.centr{margin-top: 200px;}
.container{height: 54px;
width: 1274;display: flex;
justify-content: space-between;
position:absolute ;
top: 0;
left:130px;
right: 130px;
}
p{font-size: 27px;
font-weight: bold;
color: black;
}

span{color: red;
}
.container2{display: flex;
justify-content: center;
margin-top: 25px;
font-size: 17px;
flex-direction: row;
}
.home,.sneakers,.players{margin-left: 40px;
}
a{color:white;}
